:root {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
	overscroll-behavior: none;
}

@media screen and (max-width: 315px) {
	:root {
		font-size: 14px;
	}
}

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overscroll-behavior: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.scroll {
	overflow-y: auto;
}

:any-link {
	font-weight: 500;
	text-decoration: none;
	box-sizing: border-box;
	border-bottom: 0.1em solid;
	background-size: 0 0.1em;
	background-position: 0 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

:any-link:hover {
	padding: 0.1em 0;
	border-bottom: 0;
	background-size: 100% 0.1em;
	transition: background-size .6s ease-in-out;
}

:focus-visible {
	outline: auto;
}

a.logo, a.logo:hover {
	display: block;
	height: 100%;
	aspect-ratio: 1 / 1;
	background: center / contain no-repeat url('logo.svg');
	mix-blend-mode: difference;
	border: none;
}

/*
button {
	color: inherit;
	margin: 0;
	padding: 0.2em;
}

button figure {
	margin: 0;
	padding: 0;
}

button a {
	color: inherit !important;
	cursor: inherit;
	text-decoration: inherit;
}
*/

header {
	position: sticky;
	top: 0;
	height: 4em;
	border-bottom: 0.1rem solid;
}

/*
nav {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

nav div.empty {
	flex: 1;
}

nav button {
	background: none;
	border: none;
	width: 8em;
	height: 54px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

nav button figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav button figure figcaption {
	font-variant: small-caps;
}

nav button .icon {
	width: 2.5rem;
}

nav button .icon figcaption {
	display: none;
}
*/

main {
	padding: 0.6em 1em;
	flex: 1;
	text-align: justify;
	line-height: 1.6;
}

footer {
	padding: 0.4em;
	border-top: 0.1rem solid;
	text-align: center;
}

@media (prefers-color-scheme: light) {
	body {
		color: #000;
		background: #FFF;
	}
	header, footer {
		background: #EEE;
	}
	:link, :link::after {
		color: #00E;
		background-image: linear-gradient(#00E, #00E);
	}
	:visited, :visited::after {
		color: #518;
		background-image: linear-gradient(#518, #518);
	}
	:any-link:active {
		color: #E00
		background-image: linear-gradient(#E00, #E00);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: #FFF;
		background: #000;
	}
	header, footer {
		background: #222;
	}
	:link, :link::after {
		color: #04E;
		background-image: linear-gradient(#04E, #04E);
	}
	:visited, :visited::after {
		color: #619;
		background-image: linear-gradient(#619, #619);
	}
	:any-link:active {
		color: #F00;
		background-image: linear-gradient(#F00, #F00);
	}
}

/*
body[theme='light'] {
	background: white;
	color: black;
}

body[theme='light'] a {
	color: blue;
}

body[theme='light'] nav {
	border-bottom: 1px solid black;
}

body[theme='light'] footer {
	border-top: 1px solid black;
}

body[theme='dark'] {
	background: black;
	color: white;
}

body[theme='dark'] a {
	color: yellow;
}

body[theme='dark'] button img.mono {
	filter: invert(1);
}

body[theme='dark'] nav {
	border-bottom: 1px solid white;
}

body[theme='dark'] footer {
	border-top: 1px solid white;
}
*/

@media print {
	:root {
		font-family: 'Noto Serif', serif;
	}
	body {
		background: white;
		color: black;
	}
	header {
		display: none;
	}
}
