:root {
	font-size: 16px;
	width: 100%;
	height: 100%;
	display: flex;
}
html[lang='en'] {
	& div.g_id_signin[data-locale='it'] {
		display: none;
	}
}
html[lang='it'] {
	& div.g_id_signin[data-locale='en'] {
		display: none;
	}
}
head, title, link, meta, style, script {
	display: none;
}
body {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	& .noselect {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	}
}
preload {
	display: none;
}
nav {
	height: 2.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	& div.empty {
		flex: 1;
	}
	& button.icon {
		width: 2.5rem;
		height: 2.5rem;
		background: none;
		border: none;
	}
	& button.url {
		height: 2.5rem;
		background: none;
		border: none;
		font-variant: small-caps;
	}
}
main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1;
	padding: 1em;
	overflow: hidden;
	& .scroll {
		flex: 1;
		overflow-y: auto;
	}
}
footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen {
	body[theme='light'] {
		background: white;
		color: black;
		& a,button.url {
			color: blue;
		}
		& button.icon img.mono {
			filter: invert(0);
		}
		& nav {
			border-bottom: 1px solid black;
		}
		& footer {
			border-top: 1px solid black;
		}
	}
	body[theme='dark'] {
		background: black;
		color: white;
		& a,button.url {
			color: yellow;
		}
		& button.icon img.mono {
			filter: invert(1);
		}
		& nav {
			border-bottom: 1px solid white;
		}
		& footer {
			border-top: 1px solid white;
		}
	}
}
@media print {
	body {
		background: white;
		color: black;
	}
	nav {
		display: none;
	}
}
